@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-zinc-800;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

h1,
h2 {
  @apply text-zinc-700;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
